name: Android 

on: 
  workflow_dispatch:
 
jobs:
  android:
    runs-on: ubuntu-22.04
    steps:

      - name: Getting Updates and Installing Tailscale, QEMU.
        run: |
          dir /dev/dri/
          sudo apt update -y
          sudo apt install aria2 wget lxde qemu-kvm websockify novnc tigervnc-standalone-server -y
          sudo mkdir /root/.vnc
          sudo wget -O /root/.vnc/xstartup https://raw.githubusercontent.com/Efebey2903/android-tailscale/main/xstartup
          sudo chmod +x /root/.vnc/xstartup
          sudo curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up --ssh
      - name: Making Android and Setting Everything Up.
        run: |
          sudo aria2c -s16 -x16 -o android.iso https://github.com/tmtedu/ANDROID-NEW/releases/download/v1.1.0/android-x86_64-9.0-r2.iso
          sudo qemu-img create -f raw /mnt/a.img 70G
          websockify --web /usr/share/novnc/ --wrap-mode=ignore 6080 localhost:5900 &
          sleep 2
          sudo vncserver -SecurityTypes None
          sleep 999999999
          
